In [27]:
import numpy as np
import pandas as pd
import requests
#from config import api_key
import time
#from us import states
from scipy.stats import linregress
from matplotlib import pyplot as plt
from fredapi import Fred
import plotly.graph_objects as go
import datetime as dt
fred = Fred(api_key='8d9168f04897da41e439475a2f472b3f')

In [32]:
#STEP 1 Retrieve GDP data from FRED api
GDP = {}
GDP['GDPC1'] = fred.get_series('GDPC1',frequency = 'q')
GDP_df = pd.DataFrame(GDP)
GDP_df

                GDPC1
1947-01-01   2033.061
1947-04-01   2027.639
1947-07-01   2023.452
1947-10-01   2055.103
1948-01-01   2086.017
...               ...
2019-04-01  19020.599
2019-07-01  19141.744
2019-10-01  19253.959
2020-01-01  19010.848
2020-04-01  17282.188

[294 rows x 1 columns]

In [33]:
#STEP 2 GDP - Rename the index
GDP_df.index.name = 'qtr_dt'
GDP_df

GDP_df= GDP_df.reset_index()
GDP_df

        qtr_dt      GDPC1
0   1947-01-01   2033.061
1   1947-04-01   2027.639
2   1947-07-01   2023.452
3   1947-10-01   2055.103
4   1948-01-01   2086.017
..         ...        ...
289 2019-04-01  19020.599
290 2019-07-01  19141.744
291 2019-10-01  19253.959
292 2020-01-01  19010.848
293 2020-04-01  17282.188

[294 rows x 2 columns]